beautifulsoup4
black
cartopy
cenpy
conda
contextily
dill
flake8
folium
gensim
geopandas
isort
jupyterlab
mapclassify
osmnx=1.3.0
nbqa
nltk
pandana
pandas
pysal
python=3.10.*
rasterio
rtree
seaborn
scikit-learn
scipy
statsmodels
