beautifulsoup4
cartopy
cenpy
contextily
folium
geopandas
jupyterlab
mapclassify
osmnx=1.8.1
pandana
pandas
pre-commit
pysal
python=3.11.*
rasterio
seaborn
scikit-learn
scipy
statsmodels
# computer vision and NLP
gensim
nltk
nltk_data
pillow
pytorch
torchvision
transformers
